@import "tailwindcss";


*{
  @apply transition-all duration-500 font-[Ubuntu]
}

@layer components{
  .max-container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
}

@layer utilities{

  .flexCenter{
    @apply flex justify-center items-center
  }

  .flexStart{
    @apply flex justify-center items-center
  }

  .active{
    @apply bg-[#4B6BFB] text-white px-3 py-2 rounded-md
  }
  .padding{
    @apply px-8 sm:px-16 sm:py-24;
  }
  
  .padding-x{
    @apply px-8
  }

}
